*.csv
*.json
*.pyc
*.pyo
*.pyd


.gitignore

Dockerfile
docker-compose.yml
.dockerignore

# .env

.vscode/
__pycache__/

notebooks/
data/
logs/
src/models/

train/results_vit5/
train/__pycache__/

utils/__pycache__/

vietnamese_summarization_nlp.egg-info/