apscheduler==3.11.2
beautifulsoup4==4.14.3
cleantext==1.1.4
fake_useragent==2.2.0
newspaper3k==0.2.8
playwright==1.58.0
protobuf==7.34.1
pymongo==4.16.0
Requests==2.32.5
setuptools==80.9.0
underthesea==9.2.11
urllib3==2.6.3
lxml_html_clean
google-genai
python-dotenv
underthesea
cleantext
apscheduler
openai
playwright