apscheduler==3.11.2
beautifulsoup4==4.14.3
cleantext==1.1.4
evaluate==0.4.6
fake_useragent==2.2.0
ftfy==6.3.1
newspaper3k==0.2.8
numpy==2.4.3
pandas==3.0.1
protobuf==7.34.1
pymongo==4.16.0
Requests==2.32.5
scikit_learn==1.8.0
setuptools==80.9.0
underthesea==9.2.11
urllib3==2.6.3
lxml_html_clean
google-genai
python-dotenv

# datasets==4.8.4
# torch==2.11.0
# transformers==4.40.0
# tokenizers==0.19.1